h3 {
    color: #3C9BFF;
}

a {
    color: #3C9BFF;
}

.main-nav {
    color: #3C9BFF;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #3C9BFF;
}

.main-nav li {
    color: red;
}