body {
    background-color: #FAFAFA;
}


h3 {
    color: #3C9BFF;
}

a {
    color: #3C9BFF;
}

.main-nav {
    color: #3C9BFF;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #3C9BFF;
}

.main-nav p {
    color: #3C9BFF;
}

h3:after {
    background-color: #3C9BFF;
    height: 2px;
}

h4 {

}

h4:hover, h4:active {
    color: #0096ED;
}

h6 {
    text-align: center;
    display: inline-block;
    color: #3C9BFF;
    font-size: 150%;
    font-weight: 200;
    padding-left: 20px;
    margin-bottom: 30px;
    width: 100%;
}


#blog-posts {
    width: 100%;
    margin-left: 20%;
    margin-top: 100px;
}

.post {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    float: left;
    background-color: white;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 10px #c6c6c6;
}

.link-post {
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    width: 30%;
    float: left;
}

.detail {
    padding-left: 20px;
    display: block;
}