h3 {
    color: #3C9BFF;
    font-weight: 300;
    font-size: 150%;
    padding-top: 25px;
    margin-bottom: 30px;
}

h3:after {
    background-color: #3C9BFF;
    height: 2px;
}

a {
    color: #3C9BFF;
}

.main-nav {
    color: #3C9BFF;
    padding-bottom: 40px;
}

.main-nav li .link:hover,
.main-nav li .link:active {
    border-bottom: 1px solid #3C9BFF;
}

.main-nav p {
    color: #3C9BFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    z-index: 1;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;

}


.social-links-big i {
    color: #5e5e5e;
}

.github i:hover {
    color: black;
}


.mail i:hover {
    color: #ffd000;
}
