h3 {
    color: #3C9BFF;
    font-weight: 300;
    font-size: 150%;
    padding-top: 25px;
    margin-bottom: 30px;
}

h3:after {
    background-color: #3C9BFF;
    height: 2px;
}

a {
    color: #3C9BFF;
}

.main-nav {
    color: #3C9BFF;
    padding-bottom: 50px;
}

.main-nav li .link:hover,
.main-nav li .link:active {
    border-bottom: 1px solid #3C9BFF;
}

.main-nav p {
    color: #3C9BFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    left: -10px;
    bottom: 0;
    transform: translateY(calc(100% + 10px));
    z-index: 1;
    display: block;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px 10px #c6c6c6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;

}


.social-links-big i {
    color: #5e5e5e;
}

.github i:hover {
    color: black;
}


.mail i:hover {
    color: #ffd000;
}
