


h6 {
    color: #3C9BFF;
    font-size: 200%;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 40px;
}

.post {
    width: 700px;
    display: block;
    margin: auto;
}

.post-paragraph {
    margin-bottom: 20px;
    line-height: 34px;
    color: #3a3a3a;

}

p {
    font-family: 'Oxygen', sans-serif;
}

.slider-box {
    background-color: black;
    padding: 10px 10px;
    overflow: hidden;
    line-height: 70px;
    width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider {
    list-style: none;
}

img {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-right: 20px;
    height: 85%;
    width: 100%;
}

.description-box {
    position: absolute;
    width: calc(100% - 20px);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0));
    height: 10%;
    margin-left: 10px;
    margin-bottom: -10px;
    bottom: 10%;
}

.description {
    padding-left: 20px;
    letter-spacing: 1px;
    color: #222222;
}

.thumbnails {
    list-style: none;
    position: absolute;
    bottom: 10%;
    height: 10%;
    width: 100%;
}

.thumbnails li {
    height: 70px;
    width: 90px;
    margin: auto;
    position: relative;
    overflow: hidden;
    float: right;
}

.thumb {
    min-width: 100%;
    min-height: 100%;
}