
@font-face {
    font-family: 'Montserrat Hairline';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* Source Sans Pro for navi */

html,body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5 {
    text-align: center;
    margin-top: 0;
    color: white;
}

h1 {
    font-weight: 300;
    font-size: 350%;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
    font-size: 100%;
}


h3 {
    color: white;
    font-weight: 300;
    font-size: 250%;
    padding-bottom: 50px;
    padding-top: 25px;
}

h3:after {
    display: block;
    height: 1px;
    background-color: white;
    content: " ";
    width: 200px;
    margin: 15px auto;
}

h4 {
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: 300;
}

h5 {
    color: white;
    text-align: center;
    font-size: 180%;
    font-weight: 100;
    margin-bottom: 50px;
}


/* ------------------
----- HEADER ----- */

header {
    height: 100vh;

}

.description {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px;
    display: block;
}

.more {
    position: absolute;
    text-align: center;
    bottom: 15px;
    width: 10%;
    margin-left: 45%;
}

.more i {
    font-size: 300%;
    color: whitesmoke;
}

/* ------------------
----- NAVIGATION ----- */


.main-nav {
    color: whitesmoke;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
}
.main-nav p {
    float: left;
    display: inline-block;
    margin-left: 20px;

}

.main-nav ul {
    float: right;
    list-style: none;
    margin-right: 20px;
}

.main-nav li {
    display: inline-block;
    margin-right: 10px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid whitesmoke;
}

/* ------------------
----- PORTFOLIO ----- */


.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    transform-style: preserve-3d;
}

.content {
    background-color: #3C9BFF;
    overflow: visible;
    padding-bottom: 100px;
}

.summary-container {
    height: 100%;
    width: 50%;
}

.parallax-layer {
    position: absolute;
}

.parallax-base {
    transform: translateZ(0);
}

.parallax-back {
    transform: translateZ(-0.1px) scale(1.1);
}

.parallax-group {
    position: relative;
    height: 120vh;
    transform-style: preserve-3d;
}

.parallax-img-container {
    height: 100%;
    width: 50%;
}

.parallax-img {
    height: 100%;
    position: relative;
    display: block;
    margin: auto;
    filter: none;
}

#section-swipe {
    right: 0;
}

.section-profile {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}



/* SCREENSHOT */

#supl-img {
    right: 0;
}

/* SUMMARY */

.summary {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1%;
    display: inline-block;
}

#supl-summary {
    float: left;
}

#swipe-summary {
    float: right;
}

#supl-summary h4 {
    margin-left: 15%;
    text-align: left;
}

#swipe-summary h4 {
    margin-right: 15%;
    text-align: left;
}

.summary p {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    line-height: 150%;
    font-weight: 300;
    text-align: start;
}

#supl-summary p {
    margin-left: 15%;
}
#swipe-summary p {
    margin-right: 15%;
}

/* BUTTON */

#section-supl .app-btn {
    margin-left: 15%;
    text-decoration: none;
}

#section-swipe .app-btn {
    margin-right: 15%;
    text-decoration: none;
}

.app-btn a:link, a:visited, a:active, a:hover  {
    color: #FFFFFF;
}

.app-btn:before {
    display: inline-block;
    margin-right: 10px;
    height: 2px;
    width: 34px;
    background-color: #FFFFFF;
    transition: .2s;
    content: " ";
    vertical-align: middle;
    margin-bottom: 2px;
}

.app-btn:hover:before {
    width: 50px;
}

.app-btn i {
    font-size: 100%;
    color: #FFFFFF;
    display: none;
}

.app-btn:hover i {
    display: inline-block;
    padding-left: 15px;
}

/* PROFILE */

.section-me {
    min-height: 100vh;
    width: 100%;
    background-color: #515151;
    position: relative;
    display: flex;
    align-items: center;
}

.section-me h3 {
    padding-bottom: 30px;
}
.section-me img {
    display: block;
    width: 114px;
    border-radius: 50%;
    margin: auto;
}

#section-me-p {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
    font-weight: 200;
    line-height: 150%;
}

footer p {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

/* SLIDE */

.slide {
    height: 100%;
    animation-duration: 3s;
    opacity: 0;
    overflow: hidden;
}

.slide.animated {
    opacity: 1;
}

/* FOOTER */

footer a {
    margin-left: 80px;
}

.social-links-small {
    display: none;
}

.social-links-small i {
    width: 24px;
}

.social-links-big {
    display: block;
}

.social-links-big i {
    width: 41px;
}

.twitter i, .mail i, .github i {
    transition: color 0.5s;
}

.twitter {
    margin-left: 0;
}

.twitter i:hover {
    color: #0096ED;
}

.mail i:hover {
    color: #EDB500;
}

.github i:hover {
    color: #282828;
}



